# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/

# Environment
.env
.env.local

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Test
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
build/

# Frontend
PmCafeFrontend/dist/
PmCafeFrontend/node_modules/
